@if (weatherData && !locationDenied) {
   <app-weather-card 
      [max]="weatherData.main.temp_max" 
      [min]="weatherData.main.temp_min" 
      [humidity]="weatherData.main.humidity" 
      [temp]="weatherData.main.temp" 
      [pressure]="weatherData.main.pressure" 
      [seaLevel]="weatherData.main.sea_level" 
      [clouds]="weatherData.clouds.all" 
      [feelsLike]="weatherData.main.feels_like" 
      [wind]="weatherData.wind.speed" 
      [name]="weatherData.name + ', ' +  countryName" >
   </app-weather-card>
} @else {
   <div>Loading...</div>
}

@if (errorMsg) {
  <div class="error-msg">
    {{errorMsg}}
  </div>
}
