<div class="container">
  <div class="upper-data">
    @if (14 < 10 ) {
      <img src="/hot.jpg" alt=""/>
    }
    @if (14 > 10 ) {
      <img src="/cold.jpg" alt=""/>
    } 
    <div class="weather-data">
      <div class="location">Vienna</div>
      <div class="temperature">{{ 14 | number: '1.0-0'}}°C</div>
    </div>
  </div>
  <div class="lower-data">
    <div class="more-info-label">More Information</div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="/min.png" alt="">
          <span>Min</span>
        </div>
        <div class="info-block-value">
          {{ 10 | number: '1.0-0'}}°C
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="/max.png" alt="">
          <span>Max</span>
        </div>
        <div class="info-block-value">
          {{ 30 | number: '1.0-0'}}°C
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="/humidity.png" alt="">
          <span>Humidity</span>
        </div>
        <div class="info-block-value">
          77%
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="/wind.png" alt="">
          <span>Wind</span>
        </div>
        <div class="info-block-value">
          11 km/h
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet />
