@if (multiDaysForecastData) {
    <div class="four-days-container">
        @for (dayForecast of multiDaysForecastList; track dayForecast.dt){
            <div class="weather-card-wrapper">
                <app-weather-card 
                    [temp]="dayForecast?.main?.temp" 
                    [max]="dayForecast?.main?.temp_max" 
                    [min]="dayForecast?.main?.temp_min" 
                    [humidity]="dayForecast?.main?.humidity" 
                    [pressure]="dayForecast?.main?.pressure" 
                    [seaLevel]="dayForecast?.main?.sea_level" 
                    [clouds]="dayForecast?.clouds?.all" 
                    [feelsLike]="dayForecast?.main?.feels_like" 
                    [wind]="dayForecast?.wind?.speed" 
                    [name]="multiDaysForecastData.city.name + ', ' + countryName" >
                </app-weather-card>
            </div>
        }
    </div>
} 

@if(!multiDaysForecastData && !locationDenied && !errorMsg) {
    <div class="loading">Loading...</div>
 }

@if (errorMsg) {
  <div class="error-msg">
    {{errorMsg}}
  </div>
}