$blue-1: #3C429E;
$blue-2: rgb(76, 82, 173);
$yellow-1: #FAC742;
$white: #FFF;
$grey-1: #EDEDED;
$shadow-dark: rgba(0,0,0,0.3);
$shadow-light: rgba(255,255,255,0.1);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

.container {
    width: 100%;
    min-height: 100vh;
    background-color: $blue-1;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather-card-container {
    width: 350px;
    height: 500px;
    background-color: $blue-2;
    border-radius: 20px;
    box-shadow: 10px 10px 10px $shadow-dark;
    margin-bottom: 40px;
}


nav {
    width: 100%;
    height: 50px;
    color: $white;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 10px 10px $shadow-dark;
    background-image: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,0.4));

    display: flex;
    align-items: center;
    margin-bottom: 60px;
    padding-left: 50px;


    li {
        list-style: none;
        transition: color 0.3s;

        & + li {
            margin-left: 2em;
        }

        a { 
            cursor: pointer;
            color: $white;
            text-decoration: none;
            
            &:hover, &:active  {
                color: $yellow-1;
            }
        }
    }
}

.upper-data {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 50%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.lower-data {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 50%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.weather-data {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: $shadow-dark;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.location {
    color: $white;
    text-align: center;
    font-size: 1.2em;
}

.temperature {
    color: $white;
    font-size: 4em; 
    text-align: center;
    font-weight: 900;
}

.more-info-label {
    color: $white;
    width: 50%;
    margin-left: 1em;
    text-decoration: underline;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
        color: $yellow-1;
    }
}

.more-info-container {
    flex: 1;
    background-color: $shadow-light;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.info-block {
    width: 50%;
    display: flex;
    flex-direction: row;
}

.info-block-label {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
        width: 1.5em;
    }

    span {
        color: $white;
        font-size: 0.8em;
    }
}

.info-block-value {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: $white;
}

.four-days-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .weather-card-wrapper{
        &:not(:last-child) {
            margin-right: 20px;
        }
    }
}
